html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

.page-banner {
  position: absolute;
  background-color: purple;
  top: 0;
  left: 0;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  width:100%;
  margin-top: 0;
}

.page-title {
  margin-top: 2em;
  text-align: center;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

p {
	color: black;
	font-weight: bold;
}

nav {
  background-color: #FFF;
}

nav ul {
  list-style: none;
  float: left;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

#mySideButton a {
  position: absolute;
  right: -115px;
  transition: 0.3s;
  padding: 20px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySideButton a:hover {
  right:-20px;
}

#p1 {
  top: 250px;
  background-color: #4CAF50;
}

#p2 {
  top: 320px;
  background-color: #2196F3;
}

#p3 {
  top: 390px;
  background-color: #f44336;
}

#p4 {
  top: 460px;
  background-color: #555
}

footer {
  overflow: hidden;
  background: purple;
  bottom: 0;
  width: 100%;
  height: 75px;
}

footer ul {
  list-style: none;
}

footer li {
  float: left;
}

footer li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

footer li a:hover {
  background-color: #f1f1f1;
  color: black;
}

footer li a.active {
  background-color: #4CAF50;
  color: black;
}

footer p {
	font-size: 30px;
}